{% assign collection = collections[section.settings.collection] %}

<div id="mousepad-section">
    {% for product in collection.products limit: section.settings.product_limit %}
    <div class="tile shadow">
        <a class="amazon-link" href="" target="_blank">
            <div class="image-holder">
                <img class="product-homepage-image" src="{{ product.featured_image.src | img_url: '1920x' }}" alt="">
            </div>
        </a>
            <div class="item-info">
                <a class="amazon-link" href="" target="_blank">
                    <h4 class="product-title">{{ product.title }}</h4>
                </a>
                <span>{{ product.price | money }}</span>
                {% comment %} <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>     {% endcomment %}
            </div>
    </div>
    {% endfor %}
</div>

{% schema %}
{
    "name": "Homepage Products",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Product Name",
            "default": "Mousepads"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "product_limit",
            "label": "Product Limit",
            "min": 3,
            "max": 18,
            "default": 9
        }
    ]
}
{% endschema %}

<script>
    function goToAmazon(name, size){

        var linkString;

        switch(size){
            case "m330" :
                switch(name){
                    case "aethera" :
                        linkString = 'https://www.amazon.com/Monolith-M-330-Anti-Fray-13x13x0-2-330x330x5mm/dp/B07S46PDSJ/ref=sr_1_25?keywords=monolith+mouse+pads&qid=1569941854&sr=8-25';
                        break;
                    case "classic" :
                        linkString = 'https://www.amazon.com/Monolith-M-330-Anti-Fray-13x13x0-2-330x330x5mm/dp/B07S5PVKT7/ref=sr_1_7?keywords=monolith+mouse+pads&qid=1569941854&sr=8-7';
                        break;
                    case "clova" :
                        linkString = 'https://www.amazon.com/Monolith-M-330-Anti-Fray-13x13x0-2-330x330x5mm/dp/B07RZW94GS/ref=sr_1_14?keywords=monolith+mouse+pads&qid=1569944963&sr=8-14';
                        break;
                    case "night school" :
                        linkString = 'https://www.amazon.com/Monolith-M-330-NIGHTSCHOOL-Anti-Fray-330x330x5mm/dp/B07S33RG38/ref=sr_1_15?keywords=monolith+mouse+pads&qid=1569945033&sr=8-15';
                        break;
                    case "red shift" :
                        linkString = 'https://www.amazon.com/Monolith-M-330-Anti-Fray-13x13x0-2-330x330x5mm/dp/B07S472PFW/ref=sr_1_10?keywords=monolith+mouse+pads&qid=1569941854&sr=8-10';
                        break;
                    case "slime" :
                        linkString = 'https://www.amazon.com/Monolith-M-330-Anti-Fray-13x13x0-2-330x330x5mm/dp/B07S467G8D/ref=sr_1_18?keywords=monolith+mouse+pads&qid=1569944886&sr=8-18';
                        break;
                    case "smoke screen" :
                        linkString = 'https://www.amazon.com/Monolith-M-330-Smokescreen-Anti-Fray-330x330x5mm/dp/B07S6SQ2BB/ref=sr_1_13?keywords=monolith+mouse+pads&qid=1569941854&sr=8-13';
                        break;
                    case "summer school" :
                        linkString = 'https://www.amazon.com/Monolith-M-330-SUMMERSCHOOL-Anti-Fray-330x330x5mm/dp/B07S58M1NP/ref=sr_1_17?keywords=monolith+mouse+pads&qid=1569941854&sr=8-17';
                        break;
                    case "wake up call" :
                        linkString = 'https://www.amazon.com/Monolith-M-330-Anti-Fray-13x13x0-2-330x330x5mm/dp/B07S1YS733/ref=sr_1_11?keywords=monolith+mouse+pads&qid=1569941854&sr=8-11';
                        break;
                }
                break;
            case "m508" :
                switch(name){
                    case "aethera" :
                        linkString = 'https://www.amazon.com/Monolith-M-508-Anti-Fray-20x16x0-2-508x406x5mm/dp/B07S3F5M9R/ref=sr_1_16?keywords=monolith+mouse+pads&qid=1569941854&sr=8-16';
                        break;
                    case "classic" :
                        linkString = 'https://www.amazon.com/Monolith-M-508-Anti-Fray-20x16x0-2-508x406x5mm/dp/B07RRRWMBR/ref=sr_1_1?keywords=monolith+mouse+pads&qid=1569941836&sr=8-1';
                        break;
                    case "clova" :
                        linkString = 'https://www.amazon.com/Monolith-M-508-Anti-Fray-20x16x0-2-508x406x5mm/dp/B07S4HLNZF/ref=sr_1_8?keywords=monolith+mouse+pads&qid=1569941854&sr=8-8';
                        break;
                    case "night school" :
                        linkString = 'https://www.amazon.com/Monolith-M-508-NIGHTSCHOOL-Anti-Fray-508x406x5mm/dp/B07S16KHWW/ref=sr_1_9?keywords=monolith+mouse+pads&qid=1569941854&sr=8-9';
                        break;
                    case "red shift" :
                        linkString = 'https://www.amazon.com/Monolith-M-508-Anti-Fray-20x16x0-2-508x406x5mm/dp/B07S3DWGT5/ref=sr_1_24?keywords=monolith+mouse+pads&qid=1569941854&sr=8-24';
                        break;
                    case "slime" :
                        linkString = 'https://www.amazon.com/Monolith-M-508-Anti-Fray-20x16x0-2-508x406x5mm/dp/B07S16XVKG/ref=sr_1_5?keywords=monolith+mouse+pads&qid=1569941854&sr=8-5';
                        break;
                    case "smoke screen" :
                        linkString = 'https://www.amazon.com/Monolith-M-508-Anti-Fray-20x16x0-2-508x406x5mm/dp/B07S16XVKG/ref=sr_1_5?keywords=monolith+mouse+pads&qid=1569941854&sr=8-5';
                        break;
                    case "summer school" :
                        linkString = 'https://www.amazon.com/Monolith-M-508-SUMMERSCHOOL-Anti-Fray-508x406x5mm/dp/B07RZ44S9W/ref=sr_1_19?keywords=monolith+mouse+pads&qid=1569941854&sr=8-19';
                        break;
                    case "wake up call" :
                        linkString = 'https://www.amazon.com/Monolith-M-508-Anti-Fray-20x16x0-2-508x406x5mm/dp/B07S16L4L8/ref=sr_1_12?keywords=monolith+mouse+pads&qid=1569941854&sr=8-12';
                        break;
                }
                break;
        };

        return linkString;
    };
    
    var items = document.querySelectorAll(".tile");
   
    items.forEach( item => {
        var productName = item.querySelector(".product-title").innerText.toLowerCase(); 
        console.log(productName == "wake up call");
        var link = goToAmazon(productName, 'm508');
        item.querySelectorAll(".amazon-link").forEach( aTag => {
            console.log(link);
            aTag.href = link;
        })
        
    });

</script>