<div id="size-section">
    <div id="m330" class="size-section-cb shadow">
       <img src="{{section.settings.info_image1 | img_url: '1920x'}}" />
    </div>
    <div id="m508" class="size-section-cb shadow">
        <img src="{{section.settings.info_image2 | img_url: '1920x'}}" />
    </div>
</div>

{% schema %}

{
    "name": "Info Cards",
    "settings": [
      {
        "type": "image_picker",
        "id": "info_image1",
        "label": "330 Image"
      },
     {
        "type": "image_picker",
        "id": "info_image2",
        "label": "508 Image"
      }
    ]
}

{% endschema %}