<div id="container">
    {% section "banner" %}
    {% section "info" %}
    {% section "homepage-products" %}
    {% comment %} {% section "carousel" %} {% endcomment %}
    {{ content_for_layout }} 
  </div>